.products {
    padding: 2rem 10rem;

    h4 {
        font-weight: 900;
    }

    hr {
        max-width: 4rem;
        height: 0.2rem;
        background: #c0c0c0;

        border: none;
    }

    ul {
        padding: 2.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

        li {
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                cursor: pointer;
                height: 400px;

                span {
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    font-weight: 600;
                    color: var(--font-color);

                    margin: 0.5rem 0;

                    &.lastValue {
                        text-transform: none;
                        text-decoration: line-through;
                    }
                }

                button {
                    display: none;
                    width: 7.83rem;

                    &:hover{
                        opacity: 0.8;
                    }
                }

                &:hover {
                    background: var(--gray);

                    button {
                        display: flex;
                        background: var(--black);
                        color: var(--white);
                        font-size: 0.75rem;
                        text-transform: uppercase;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {

    .products {
        margin-top: -65px;
        padding: 5px;

        ul {
            overflow-x: scroll;

            li {
                div {
                    button {
                        display: flex;
                        background: var(--black);
                        color: var(--white);
                        font-size: 0.75rem;
                        text-transform: uppercase;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
