$font-color: #7a7a7a;

.headerContainer{
    background: var(--white);
    height: 6rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 1.8rem 6rem;

    .hamburguer{
        display: none;
        grid-area: menu;
    }

    .logo{
        grid-area: logo;
        &::after{
            content: "";
            width: 250px;
            height: 250px;
            background: #BFBFBF;
            border-radius: 2px;
            position: absolute;
            top: 50%;
        }
    }

    form{
        grid-area: form;
        input{
            width: 30rem;
            border: none;
            border-bottom: 1px solid $font-color;
            font-weight: 400;
            font-size: 0.8125rem;
        }

        button{
            border: none;
            border-bottom: 1px solid $font-color;
            height: 1.8rem;
            background: none;
            font-size: 0;
            grid-area: button;
        }
    }

    a{
        grid-area: account;
        font-weight: 400;
        color: $font-color;
        font-size: 0.8125rem; 
        margin-right: - 2rem;  
    }
}


@media screen and (max-width: 720px) {
    .headerContainer{
            display: grid;
            
            grid-template-areas:
                "menu logo cart"
                "form  form  form";

            border-bottom: 5px;

            .hamburguer{
                display: block;
                align-self: center;
                cursor: pointer;
            }

            .logo{
                align-self: center;
            }

            form{

                input {
                    max-width: 95%;
                }
            }

            a{
                display: none;
            }
    }
       
}